<!DOCTYPE html>
<html ng-app="boxModule">
	<head>
		<title>
			Angular Practice Part 3
		</title>
		<meta charset="utf-8">
		<link href="styles.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	</head>
	<body ng-controller="boxHandler">
	<button ng-click="onClick()" type="button" class="suspiciousButton button">I'm not suspicious at all&#133;<br>No, of course not...</button>
	<div class="annoyingBox" ng-hide="annoying">
		<button type="button" class="rectifyButton button" ng-hide="annoying" ng-click="onEscape()">Let's git rid of this mess&#133;</button>
	</div>
	<script src="script.js"></script>
	</body>
</html>